/* INSTRUCTURE NEEDS TO FIX? */

.list-view>ul,
.list-view>nav>ul {
    overflow: visible !important;
    z-index: 9999 !important;
}

/* ACCESSIBILITY (used in courses globally) */

.sr-only {
    /* Content is hidden visually, but still ready by screen readers */
    /* Remove the item from normal flow */
    position: absolute;
    /* Workaround for falsely pronounced, smushed text */
    white-space: nowrap;
    /* Set it to the smallest possible size (some screen readers ignore elements with zero height and width) */
    width: 1px;
    height: 1px;
    /* Hide overflowing content after resizing */
    overflow: hidden;
    /* Reset any property that may change the elements size */
    border: 0;
    padding: 0;
    /* Clipping defines what part of an element should be displayed. */
    /* Deprecated clip property for older browsers */
    clip: rect(0 0 0 0);
    /* clip-path for newer browsers. inset(50%) defines an inset rectangle that makes the content disappear.  */
    clip-path: inset(50%);
    /* It seems like at the moment nobody is quite sure why margin: -1px is there. On top of that it seems to cause issues (see: https://github.com/h5bp/html5-boilerplate/issues/1985). */
    margin: -1px;
}

/* Problem link smoothing */

.delete_course_link,
.reset_course_content_button {
    display: none;
}

/* Fixes h3 spacing in course content */

.user_content h3,
.user_content .h3,
.mceContentBody h3,
.mceContentBody .h3 {
    margin-top: 30px !important;
    margin-bottom: 6px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    line-height: 1.2em !important;
}

#right-side div a.add {
    background-image: none !important;
    padding: 0;
}

#right-side div a.add:before {
    font-family: "fontawesome";
    content: "\f067";
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 20px;
    padding: 1px 8px 1px 0;
    display: inline-block;
}

/* TYPOGRAPHY */

/* LINKED FONTS */

/* Thin */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Thin.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Thin.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Thin.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Thin.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Thin.svg#proximanova) format("svg");
    font-weight: lighter;
    font-weight: 100;
    font-style: normal
}

/* Thin italic*/

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-ThinIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-ThinIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-ThinIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-ThinIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-ThinIt.svg#proximanova) format("svg");
    font-weight: lighter;
    font-weight: 100;
    font-style: italic
}

/* Light */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Light.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Light.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Light.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Light.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Light.svg#proximanova) format("svg");
    font-weight: light;
    font-weight: 300;
    font-style: normal
}

/* Light italic */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-LightIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-LightIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-LightIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-LightIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-LightIt.svg#proximanova) format("svg");
    font-weight: light;
    font-weight: 300;
    font-style: italic
}

/* Regular */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Reg.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Reg.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Reg.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Reg.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Reg.svg#proximanova) format("svg");
    font-weight: 400;
    font-weight: 400;
    font-style: normal
}

/* Regular italic*/

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-RegIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-RegIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-RegIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-RegIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-RegIt.svg#proximanova) format("svg");
    font-weight: 400;
    font-weight: 400;
    font-style: italic
}

/* Semibold */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Sbold.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Sbold.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Sbold.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Sbold.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Sbold.svg#proximanova) format("svg");
    font-weight: 600;
    font-style: normal
}

/* Semibold italic*/

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-SboldIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-SboldIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-SboldIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-SboldIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-SboldIt.svg#proximanova) format("svg");
    font-weight: 600;
    font-style: italic
}

/* Bold */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Bold.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Bold.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Bold.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Bold.svg#proximanova) format("svg");
    font-weight: 700;
    font-weight: 700;
    font-style: normal
}

/* Bold italic*/

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-BoldIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-BoldIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-BoldIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-BoldIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-BoldIt.svg#proximanova) format("svg");
    font-weight: 700;
    font-weight: 700;
    font-style: italic
}

/* Extra Bold */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Xbold.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Xbold.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Xbold.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Xbold.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Xbold.svg#proximanova) format("svg");
    font-weight: 800;
    font-style: normal
}

/* Extra Bold italic*/

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-XboldIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-XboldIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-XboldIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-XboldIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-XboldIt.svg#proximanova) format("svg");
    font-weight: 800;
    font-style: italic
}

/* Black */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Black.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-Black.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Black.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-Black.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-Black.svg#proximanova) format("svg");
    font-weight: bolder;
    font-weight: 900;
    font-style: normal
}

/* Black italic */

@font-face {
    font-family: 'proximanova';
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-BlackIt.eot);
    src: url(https://www.osu.edu/assets/fonts/ProximaNova-BlackIt.eot?#iefix) format("embedded-opentype"), url(https://www.osu.edu/assets/fonts/ProximaNova-BlackIt.woff) format("woff"), url(https://www.osu.edu/assets/fonts/ProximaNova-BlackIt.ttf) format("truetype"), url(https://www.osu.edu/assets/fonts/ProximaNova-BlackIt.svg#proximanova) format("svg");
    font-weight: bolder;
    font-weight: 900;
    font-style: italic
}

/* Font Awesome */

@font-face {
    font-family: 'FontAwesome';
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.eot?v=4.4.0);
    src: url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0) format("embedded-opentype"), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.woff2?v=4.4.0) format("woff2"), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.woff?v=4.4.0) format("woff"), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.ttf?v=4.4.0) format("truetype"), url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

html,
button,
input,
select,
textarea {
    font-family: 'proximanova', Helvetica, Arial, sans-serif !important;
}

body {
    font-family: 'proximanova', Helvetica, Arial, sans-serif;
    color: #282828;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proximanova', Helvetica, Arial, sans-serif;
}

input,
keygen,
button,
select,
textarea {
    font-family: 'proximanova', Helvetica, Arial, sans-serif;
    color: #282828;
    font-size: 15px;
    font: 15px/normal
}

/* Log in */

body.ic-Login-Body {
    background-image: none;
    font-family: 'proximanova', Helvetica, Arial, sans-serif;
    border: solid 0 #fff;
}

.ic-Login__header {
    padding: 0 0 1em 0;
}

.ic-Login__header__logo img {
    max-width: 310px;
}

.ic-Login__body::before {
    font-family: 'proximanova';
    content: "Admin and Support Login";
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    line-height: 120%;
    color-commented: #bb0000;
    display: block;
    padding: 0 0 1em 0
}

input[type="text"].ic-Input {
    background: #fff;
}

.ic-Login__actions button.Button--login {
    padding: 6px 36px 4px;
    border: none;
    background: #bb0000;
}

.ic-Login-footer .ic-Login-footer__links {
    padding: 12px 0;
    text-align: center;
}

.ic-Login-footer .ic-Login-footer__links a,
.ic-Login-footer .ic-Login-footer__links .menu-item__text {
    padding: 0 10px 0 0
}

/* Headers */

.ic-app-header__logomark {
    margin: 20px 10px 40px;
    height: 60px;
    opacity: .5
}

.ic-app-header__logomark:hover {
    opacity: 1
}

/* Lists */

ul {
    list-style-type: square
}

#section-tabs ul li a {
    background-color: #333;
}

/* Links */

:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

a,
a:link,
a:visited,
a:active {
    font-weight: 400;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

:focus {
    outline: dotted 1px #999
}

#footer-links a,
#footer-links a:link,
#footer-links a:visited,
#footer-links a:active,
#footer-links a:focus {
    color: #333;
    font-weight: 400;
    text-decoration: none;
}

#footer-links a:hover {
    text-decoration: underline;
}

/* Buttons */

span.analytics-button-icon {
    background: transparent;
    margin-right: 0
}

span.analytics-button-icon:before {
    font-family: "fontawesome";
    content: "\f1fe";
    font-style: normal !important;
    width: 16px;
    height: 16px;
    line-height: 16px;
    color: #555
}

.Reminder__course-setup .Reminder__course-setup-body a,
a.Button--primary {
    color: #fff
}

.btn,
a.btn {
    color: inherit;
    text-shadow: transparent !important;
    -moz-box-shadow: transparent !important;
    -webkit-box-shadow: transparent !important;
    box-shadow: transparent !important;
}

a.btn-primary {
    color: #fff
}

.btn,
.Button,
.ui-button {
    font-weight: 400;
}

.btn:hover.ui-state-hover,
.Button:hover.ui-state-hover,
.ui-state-hover.ui-button {
    border: inherit;
    background: inherit
}

.btn-primary,
.Button--primary {
    background-color: #b00;
    color: #fff;
    border: none;
    padding: 12px 16px 10px;
}

.btn-primary:hover,
.Button--primary:hover {
    background: #333333;
}

.btn-info,
.Button--secondary {
    background-color: #333;
    color: #fff;
    padding: 13px 16px 13px;
    border: 0;
    border-bottom: solid 0px #333
}

.btn-info:hover,
.Button--secondary:hover {
    background-color: #bb0000;
    color: #fff;
}

.Button--primary[disabled],
.Button--secondary[disabled] {
    opacity: 1;
    background: #ddd;
    color: #999;
    border-bottom: solid 0 transparent;
}

/* Menus/Dropdowns */

ul.al-options .ui-menu ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide li.ui-menu-item:hover,
ul.al-options .ui-menu ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide li.ui-menu-item a.ui-corner-all:hover {
    background: #ddd;
    color: #333;
    font-weight: 400;
}

ul.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item .ui-progressbar a.ui-widget-header,
.ui-progressbar .ui-menu .ui-menu-item a.ui-widget-header,
.ui-menu .ui-menu-item a.ui-state-focus {
    background: #ddd;
    color: #333;
    font-weight: 400;
}

ul.al-options .ui-menu ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide [aria-hidden="false"] [aria-expanded="true"] span.ui-menu-carat .ui-menu-carat span {
    border-width: 0px 8px 8px;
    margin-right: -8px;
    margin-left: 0;
}

.ic-app-main-and-right-side ul.al-options .ui-menu .ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide {
    right: 0;
}

.ic-app-main-and-right-side ul.al-options .ui-menu ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide span.ui-menu-carat {
    right: 0 !important;
}

#left-side ul.al-options .ui-menu .ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide {
    left: 30px;
}

#left-side ul.al-options .ui-menu ui-widget .ui-widget-content .ui-corner-all .ui-popup .ui-kyle-menu .use-css-transitions-for-show-hide span.ui-menu-carat {
    left: 122px !important;
}

a.ui-state-focus {
    font-weight: normal;
}

/* Toggle */

.ic-Super-toggle--ui-switch .ic-Super-toggle__input:checked~.ic-Super-toggle__container .ic-Super-toggle__switch,
.ic-Super-toggle--on-off .ic-Super-toggle__switch,
.ic-Super-toggle--ui-switch .ic-Super-toggle__switch {
    background: #ddd;
    border: 2px solid #ddd
}

/* Accordion */

.ui-accordion .ui-accordion-header.ui-state-default.ui-state-active,
.ui-accordion .ui-progressbar .ui-accordion-header.ui-state-default.ui-widget-header,
.ui-progressbar .ui-accordion .ui-accordion-header.ui-state-default.ui-widget-header {
    background: #ddd;
    border-color: #ddd;
    border-bottom: 1px solid #ddd;
}

.ui-state-active a,
.ui-progressbar .ui-widget-header a,
.ui-state-active a:link,
.ui-progressbar .ui-widget-header a:link,
.ui-state-active a:visited,
.ui-progressbar .ui-widget-header a:visited {
    color: #333;
    font-weight: 600;
}

.ui-state-active .ui-icon,
.ui-progressbar .ui-widget-header .ui-icon {
    background-image: url(https://du11hjcvx0uqb.cloudfront.net/dist/images/jqueryui/ui-icons_222222_256x240-a2c05c5e96.png);
}

/* Tabs */

.ui-tabs .ui-tabs-nav li a,
.ui-tabs .ui-tabs-nav li a:active,
.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li a:focus {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-state-focus a,
.ui-tabs .ui-tabs-nav li.ui-state-focus.ui-tabs-active a {
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover,
.ui-tabs .ui-tabs-nav li:hover,
.ui-tabs .ui-tabs-nav li {
    background: #f2f2f2;
}

.ui-tabs .ui-tabs-nav li.ui-state-active:hover,
.ui-tabs .ui-tabs-nav li.ui-state-active a:hover {
    background: #fff;
}

/* Context nav */

.list-view a.active,
.list-view a.active:hover,
.list-view a.active:focus {
    background: #ddd;
    color: #333;
    font-weight: 600;
}

/* Tables */

.ic-Table.ic-Table--hover-row tbody tr:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-neutral:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-success:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-alert:hover,
.ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-danger:hover,
.ig-list .ig-row:hover,
.ig-list .ig-row:focus {
    background-color: #f2f2f2;
}

#syllabus tr.date.related td,
#syllabus tr.date.related th,
#syllabus tr.date.selected td,
#syllabus tr.date.selected th,
related {
    background-color: #ddd
}

/* Widget dialog */

.ui-widget-overlay {
    background: rgba(50, 50, 50, 0.75)
}

.ui-dialog-title {
    font-weight: 600;
    text-transform: uppercase;
}

#help-dialog #help-dialog-options li a .text {
    color: #b00;
    font-weight: 600;
}

#help-dialog #help-dialog-options li a:hover {
    border-top-color: #ddd;
    border-bottom-color: #333;
    background-image: none;
    background-color: #333
}

#help-dialog #help-dialog-options li a .subtext {
    color: #333
}

#help-dialog #help-dialog-options li a:hover .subtext {
    color: #ccc;
}

/* Course Setup Checklist */

.ic-wizard-box__nav ul li a,
.ic-wizard-box__nav ul li a:link,
.ic-wizard-box__nav ul li a:hover,
.ic-wizard-box__nav ul li a:visited,
.ic-wizard-box__nav ul li a:active {
    color: #fff;
}

/* Course page CSS requests */

#course_home_content .wrapper {
    display: table;
    margin-bottom: 2em
}

@media all and (max-width: 770px) {
    #course_home_content .wrapper {
        margin-bottom: 0
    }
    .box {
        padding: 1.5em;
        background-color: #ededef;
        border-left: .6em solid #ddd;
        margin-bottom: 2em
    }
    .box h2 {
        font-size: 1.4em;
        font-weight: 600;
        margin-top: 0
    }
    .reminder h2,
    .reminder .h2,
    .reminder-content h2,
    .reminder-content .h2 {
        color: #b00;
        font-weight: 600;
    }
    #course_home_content.left,
    #course_home_content.right {
        width: 50%;
        display: table-cell;
    }
    #course_home_content.left {
        border-right: 2em solid #fff
    }
    #course_home_content.left,
    #course_home_content.right {
        display: block;
        width: auto;
        border-right: 0 none
    }
    .imgRight-odee {
        margin: 6px 0 16px 0;
        padding: 0;
        float: right;
        padding-left: 27px;
    }
    .imgLeft-odee {
        margin: 6px 0 16px 0;
        padding: 0;
        float: left;
        padding-right: 27px;
    }
    p.caption-odee {
        margin: 0;
        padding: 0;
        font-size: 0.95em;
        clear: both;
    }